*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  overflow: hidden;
  overscroll-behavior: none;
}

header {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 250px;
  max-width: 95%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  border-radius: 2px;
  padding: 1rem;

  h1 {
    font-size: 24px;
    margin-bottom: 8px;
  }
}

.map-marker {
  width: 36px;
  height: 36px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  padding: 4px;
  flex-shrink: 0;
  transition: 0.4s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}
.marker-inside {
  background-color: #ea4335;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}
.map-marker-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.map-marker-container span {
  font-size: 13px;
  color: #333;
  font-weight: 600;
  min-width: 100px;
  transition: 0.2s ease-in-out;
}
.map-marker-container:hover span {
  color: blue;
}

.map-marker-container:hover .map-marker {
  transform: scale(1.05);
}
.container {
  height: 100vh;
  height: 100dvh;
  width: 100%;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: min(500px, 100%);
  z-index: 100;
  padding: 16px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
}
.modal img {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  object-position: center;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.modal-dialog {
  position: relative;
  margin: 0 auto;
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal-dialog h1 {
  line-height: 1.1;
}

.modal-dialog span {
  font-style: italic;
  font-size: 1.1rem;
}
.modal-dialog p {
  line-height: 1.5;
}

.modal-actions {
  position: absolute;
  top: 8px;
  right: 7px;
}

.modal-actions button {
  background: none;
  border: none;
  width: 36px;
  height: 36px;
  transition: 0.3s ease;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 0.25rem;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-actions button svg {
  font-size: 24px;
}

.modal-actions button:hover {
  opacity: 0.7;
}
